.navbar {
    color: aqua;
}

.hero_image{
color: blue;
}
.statement{
color: beige;
}
.section_1{
color: blueviolet;
}
.section_2{
    color: brown;
}
.banner{
    color: chartreuse;
}
.footer{
    color: chocolate;
}